#perguntas{
    display: none;
    /*border: 1px solid black*/
}
#msgErro{
    display: none;
}
#msgAcerto{
    display: none;
}

#pontuacao{
    display: none;
    width: 80%;
    margin: auto;
    /*display: flex;*/
    justify-content: center;
    align-items: center;

}
#inicio{
    width: 80%;
    margin: auto;
    /*display: none;*/
}
#perguntas{
    width: 80%;
    margin: auto;
}
#imgPoke{
    margin: auto;
    width: 280px !important;
}
#togepi{
    margin: auto;
    width: 280px !important;
    transition: all 5s linear !important;

}
.tamanho-img{
    height: 38px;
    width: 38px;
}
table{
    padding: 0 !important;
}
#texto_pontuacao{
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 140%;
    font-style: italic;
}
.texto_titulo{
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    color: rgb(1, 1, 117);
}
.texto_comeco{
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    font-size: 130%;
    font-weight: bold;
}
.linha_tabela{
    border-bottom: 1px solid rgba(0, 0, 0, 0.308)
}
.n_per{
    font-size: 120%;
    font-family: "Courier New", Courier, monospace;
    color: rgb(1, 1, 102);
    font-weight: bold;
}
#n{
    font-size: 180%;
    font-family: "Courier New", Courier, monospace;
    color: rgb(90, 90, 1);
    
}
footer{
    background-color: rgb(230, 230, 3);
    /*margin-top: 50px;*/
    height: 48px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);/*parametros: dimensão direita, dimensão baixo, */
    display: block;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: 16%;
    color: rgba(0, 0, 0, 0.664);
    
}
#musica{
    position: fixed;
    margin-left: 80%;
    margin-top: 40%;
    font-size: 275%;
    color: rgb(168, 0, 0);
}
.spinner {
    /*border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    height: 60px;
    width: 60px;
    border-radius: 50%;*/
    animation: spin 10s linear infinite;

}

.a {
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.788);
}
@keyframes spin {
    from {
        transform: translateX(10vw);
    }
    to {
        transform: translateX(-100vw);
    }
}